services:
  rabbitmq:
    image: rabbitmq:4.2.0-management-alpine
    container_name: rabbitmq
    hostname: rabbitmq
    ports:
      - 5672:5672
      - 15672:15672
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=admin
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  redis:
    image: redis:8.4.0-alpine
    container_name: redis
    ports:
      - 6379:6379
    volumes:
      - redis_data:/data

  elasticsearch:
    image: elasticsearch:9.2.1
    container_name: elasticsearch
    ports:
      - 9200:9200
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    volumes:
      - es_data:/usr/share/elasticsearch/data

  postgres:
    image: postgres:18-alpine
    container_name: postgres
    restart: always
    environment:
      - POSTGRES_DB=lumen_db
      - POSTGRES_USER=lumen_user
      - POSTGRES_PASSWORD=lumen_pass
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  rabbitmq_data:
  es_data:
  redis_data:
  postgres_data: