<div class="story-container mb-4">
    <div class="d-flex overflow-auto hide-scrollbar">
        <a href=""
            hx-get="{% url 'stories:create_story' %}"
            hx-target="#small-modal-body"
            hx-swap="innerHTML"
            data-bs-toggle="modal"
            data-bs-target="#small_modal"
            class="d-flex flex-column align-items-center me-3 cursor-pointer text-decoration-none"
        >
            <div class="story-avatar me">
                <img src="{{ request.user.profile.image_or_default }}" alt="Your story">
            </div>
            <span class="story-username">Your story</span>
        </a>
        {% for follow in request.user.following.all %}
            <a href="{% url 'stories:stories' %}" class="d-flex flex-column align-items-center me-3 cursor-pointer text-decoration-none">
                <div class="story-avatar">
                    <img src="{{ follow.user.profile.image_or_default }}" alt="Profile">
                </div>
                <span class="story-username">{{ follow.user.username }}</span>
            </a>
        {% endfor %}
    </div>
</div>