<div class="d-flex {% if message.sender == user %}justify-content-end{% endif %} mb-2">
    <div 
        class="d-flex flex-column
        {% if message.message_type == 'text' %}px-3 py-2{% endif %}
        {% if message.message_type == 'text' %}
            {% if message.sender == user %}
                bg-frosted-ice-gradient
                message-me
            {% else %}
                bg-warm-gradient
                message-them
            {% endif %}
        {% endif %} 
        text-white"
        style="max-width: 80%; word-wrap: break-word;"
    >
        {% if message.message_type == 'text' %}
            <span class="mb-1">
                {{ message.content }}
            </span>
        {% elif message.message_type == 'post' %}
            {% with post=message.post %}
                <a  href=""
                    hx-get="{% url 'posts:post_preview' post.pk %}"
                    hx-target="#modal-body"
                    hx-swap="innerHTML"
                    data-bs-toggle="modal"
                    data-bs-target="#modal"
                    class="text-decoration-none"
                >
                    <div class="card
                        {% if message.sender == user %}
                            bg-frosted-ice-gradient
                        {% else %}
                            bg-warm-gradient
                        {% endif %}
                        border-0 rounded-3 mb-1">
                        <div class="card-header border-0">
                            <img src="{{ post.author.profile.image_or_default }}" class="profile-img">
                            <span class="text-white small fw-bold">@{{ post.author.username }}</span>
                        </div>
                        <div class="card-body p-0">
                            <div style="width: 500px; max-width: 100%;">
                                {% with media=post.media.first %}
                                    {% include 'posts/includes/media.html' %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                </a>
            {% endwith %}
        {% elif message.message_type == 'story' %}
            {% with story=message.story %}
                <a href="{% url 'stories:stories_with_id' story.author.username story.id %}"
                class="text-decoration-none text-white">
                    <div class="card border-0 rounded-4 overflow-hidden shadow-sm mb-1"
                        style="width: 200px; max-width: 100%;
                                background: rgba(255,255,255,0.05);
                                backdrop-filter: blur(10px);">
                        <div class="position-relative">
                            <img src="{{ story.media.url }}" alt="Story" class="img-fluid w-100" style="height: 300px; object-fit: cover;">
                            <div class="position-absolute top-0 start-0 end-0" 
                                style="height: 120px; background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent); z-index: 1;">
                            </div>
                            <div class="position-absolute top-0 start-0 end-0 p-2 z-2">
                                <div class="d-flex align-items-center">
                                    <img src="{{ story.author.profile.image_or_default }}" alt="User" class="rounded-circle me-2 profile-img">
                                    <span class="fw-semibold small text-white">{{ story.author.username }}</span>
                                </div>
                            </div>
                            <div class="position-absolute bottom-0 start-0 end-0" 
                                style="height: 100px; background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent); z-index: 1;">
                            </div>
                            <div class="position-absolute bottom-0 start-50 translate-middle-x mb-2 z-2">
                                <span class="badge rounded-pill bg-white text-dark px-3 py-1 small fw-semibold"
                                    style="backdrop-filter: blur(5px); opacity: 0.7;">
                                    <i class="bi bi-stars me-1"></i>Story
                                </span>
                            </div>
                        </div>
                    </div>
                </a>

            {% endwith %}
        {% endif %}
        <div 
        {% if message.sender == user %}
            class="align-self-end"
        {% endif %}
        >
            <span class="text-muted small bg-blurred py-1 px-2 rounded-pill">{{ message.time_sent }}</span>
        </div>
    </div>
</div>