<div class="d-flex {% if message.sender == user %}justify-content-end{% endif %} mb-2">
    <div 
        class="d-flex flex-column
        {% if message.message_type == 'text' %}px-3 py-2{% endif %}
        {% if message.message_type == 'text' %}
            {% if message.sender == user %}
                bg-frosted-ice-gradient
                message-me
            {% else %}
                bg-warm-gradient
                message-them
            {% endif %}
        {% endif %} 
        text-white"
        style="max-width: 80%; word-wrap: break-word;"
    >
        {% if message.message_type == 'text' %}
            <span class="mb-1">
                {{ message.content }}
            </span>
        {% elif message.message_type == 'post' %}
            {% with post=message.post %}
                <a  href=""
                    hx-get="{% url 'posts:post_preview' post.pk %}"
                    hx-target="#modal-body"
                    hx-swap="innerHTML"
                    data-bs-toggle="modal"
                    data-bs-target="#modal"
                    class="text-decoration-none"
                >
                    <div class="card
                        {% if message.sender == user %}
                            bg-frosted-ice-gradient
                        {% else %}
                            bg-warm-gradient
                        {% endif %}
                        border-0 rounded-3 mb-1">
                        <div class="card-header border-0">
                            <img src="{{ post.author.profile.image_or_default }}" class="profile-img">
                            <span class="text-white small fw-bold">@{{ post.author.username }}</span>
                        </div>
                        <div class="card-body p-0">
                            <div style="width: 500px; max-width: 100%;">
                                {% with media=post.media.first %}
                                    {% include 'posts/includes/media.html' %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                </a>
            {% endwith %}
        {% endif %}
        <div 
        {% if message.sender == user %}
            class="align-self-end"
        {% endif %}
        >
            <span class="text-muted small bg-blurred py-1 px-2 rounded-pill">{{ message.time_sent }}</span>
        </div>
    </div>
</div>