{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark fixed-top d-none d-md-block">
    <div class="container">
        <a class="navbar-brand fw-bold text-white" href="/">
            <div class="d-flex align-items-center">
                <img src="{% static 'img/logo.png' %}" class="navbar-logo me-3"></img>
                <span class="gradient-text">Lumen</span>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center flex-row gap-3 sticky-top">
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link nav-icon" href="/"><i class="bi bi-house"></i></a></li>
                    <li class="nav-item"><a class="nav-link nav-icon" href="{% url 'explore:explore' %}"><i class="bi bi-compass"></i></a></li>
                    <li class="nav-item">
                        <a
                            href=""
                            hx-get="{% url 'posts:create_post' %}"
                            hx-target="#modal-body"
                            hx-swap="innerHTML"
                            class="nav-link nav-icon"
                            data-bs-toggle="modal"
                            data-bs-target="#modal"
                        ><i class="bi bi-plus-square"></i></a>
                    </li>
                    <li class="nav-item"><a class="nav-link nav-icon" href="#"><i class="bi bi-app-indicator"></i></a></li>
                    <li class="nav-item"><a class="nav-link nav-icon" href="{% url 'chat:inbox' %}"><i class="bi bi-chat-heart"></i></a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="{% url 'profiles:profile' request.user.username %}">
                            <img src="{{ user.profile.image_or_default }}" class="profile-img" alt="Profile">
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary rounded-pill fw-bold" href="{% url 'accounts:login' %}">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary rounded-pill fw-bold" href="{% url 'accounts:signup' %}">Sign Up</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>