<div class="modal fade" id="small_modal" tabindex="-1" aria-labelledby="small_modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border shadow-lg bg-blurred rounded-5" id="small-modal-content">
            <div class="modal-header border-0">
                {{ modal_header }}
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="small-modal-body">
            </div>
        </div>
    </div>
</div>