{% load humanize %}

<div id="comment-{{ node.pk }}" class="d-flex mb-3 p-2">
    <img src="{{ node.author.profile.image_or_default }}" class="rounded-circle me-3 flex-shrink-0" 
        width="36" height="36" alt="avatar"
    >
    <div class="w-100">
        <div class="d-flex flex-column">
            <span class="fw-semibold text-white small">
                {{ node.user.username }}
            </span>
            <span class="text-light small">
                {{ node.body }}
            </span>
        </div>
        <div class="d-flex align-items-center gap-3 mt-1">
            <span class="text-muted small">{{ node.created|naturaltime }}</span>
            {% if node.level < 4 %}
                <a href="" class="fw-semibold text-muted small text-decoration-none"
                    hx-get="{% url 'posts:reply_form' node.post.pk node.pk %}"
                    hx-target="#reply-form-container-{{ node.pk }}"
                    hx-swap="innerHTML"
                >
                    Reply
                </a>
            {% endif %}
        </div>
        {% if node.level == 0 and node.children.exists %}
            <div class="d-flex justify-content-start mt-2">
                <a href="" class="text-muted fw-semibold small text-decoration-none">
                    View replies
                </a>
            </div>
        {% endif %}
    </div>
</div>
<div id="reply-form-container-{{ node.pk }}" class="ms-5"></div>
{% if node.parent %}
    <div id="reply-form-{{ node.parent.pk }}" hx-swap-oob="delete"></div>
{% endif %}