<button id="like-btn-{{ post.pk }}" type="submit" class="btn text-white cursor-pointer p-0 fs-4 border-0">
    {% if post.liked %}
        <i class="bi bi-heart-fill text-danger"></i>
    {% else %}
        <i class="bi bi-heart text-white"></i>
    {% endif %}
</button>
{% with likes_count=post.likes.count %}
    <span id="likes_count_for_{{ post.pk }}" hx-swap-oob="innerHTML">{{ likes_count }} like{{ likes_count|pluralize:'s' }}</span>
    <button id="like-btn-{{ post.pk }}" hx-swap-oob="innerHTML">
        {% if post.liked %}
            <i class="bi bi-heart-fill text-danger"></i>
        {% else %}
            <i class="bi bi-heart text-white"></i>
        {% endif %}
    </button>
{% endwith %}