{% load widget_tweaks %}

<form id="reply-form-{{ form.initial.parent }}" method="POST" class="d-flex mb-3 p-1 bg-blurred shadow-lg rounded-pill"
      hx-post="{% url 'posts:add_comment' post.pk %}"
      hx-target="#reply-form-container-{{ form.initial.parent }}"
      hx-swap="beforeend"
>
    {% csrf_token %}
    {{ form.parent }}
    {% render_field form.body class="form-control rounded-pill me-2 p-2" %}
    <button type="submit" class="btn btn-primary rounded-pill px-3 fw-bold">Post</button>
</form>
