{% extends '_base.html' %}
{% load humanize %}

{% block head_title %}
    Explore
{% endblock head_title %}

{% block content %}
<div class="container mt-4 mb-3">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="mb-4">
                {% include 'search/partials/search_form.html' %}
            </div>
            <div class="posts-grid" id="posts">
                {% include 'posts/partials/posts_grid.html' %}
            </div>
        </div>
    </div>
</div>
{% include 'feed/includes/mobile_nav.html' %}
{% endblock content %}