{% extends '_base.html' %}

{% block head_title %}
    Edit Profile
{% endblock head_title %}

{% block content %}
<div class="container mx-auto p-4" style="max-width: 600px;">
    <a href="{% url 'profiles:profile' user.username %}" class="btn btn-outline-light rounded-4 mb-4 fw-bold">
        <i class="bi bi-chevron-left me-1"></i> Back
    </a>
    <h1 class="h4 fw-bold mb-4">Edit profile</h1>
    <div class="card border-0 d-flex flex-column flex-sm-row align-items-center justify-content-between mb-4 gap-3 p-2 px-3 rounded-4">
        <div class="d-flex align-items-center flex-grow-1">
            <img src="{{ profile.image_or_default }}" 
                class="rounded-circle me-3 me-sm-4" width="80" height="80" alt="Profile" style="min-width: 80px;">
            <span class="fw-bold text-truncate">{{ profile.user.username }}</span>
        </div>
        <div class="w-100 w-sm-auto text-center text-sm-end">
            <button class="btn btn-primary fw-bold rounded-4 px-3 px-sm-4" style="font-size: 0.9rem;">
                Change photo
            </button>
        </div>
    </div>
    <hr class="mb-4">
    <div class="mb-4">
        <h2 class="h6 fw-bold mb-3">Website</h2>
        <div class="card border-0 rounded-4">
            <div class="card-body">
                <input type="text" class="form-control mb-1 rounded-4" placeholder="Website link">
                <button class="btn btn-primary fw-bold btn-sm rounded-3 mt-2 px-4">Update</button>
            </div>
        </div>
    </div>
    <hr class="mb-4">
    <div class="mb-4">
        <h2 class="h6 fw-bold mb-3">Bio</h2>
        <div class="card border-0 rounded-4">
            <div class="card-body">
                <textarea class="form-control rounded-4" id="bioTextarea" rows="3" placeholder="Enter your bio"></textarea>
                <button class="btn btn-primary fw-bold btn-sm rounded-3 mt-2 px-4">Update</button>
            </div>
        </div>
    </div>
</div>
{% include 'feed/includes/mobile_nav.html' %}
{% endblock content %}