{% extends '_base.html' %}

{% load static %}
{% load humanize %}

{% block content %}
<div class="container mt-76 pb-76">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-10">
            <div class="d-flex align-items-center justify-content-between mb-3 d-block d-md-none">
                <div class="d-flex align-items-center">
                    <img src="{% static 'img/logo.png' %}" class="navbar-logo me-3"></img>
                    <span class="gradient-text fw-bold fs-5">Lumen</span>
                </div>
                <div>
                    <a href="{% url 'chat:inbox' %}" class="text-decoration-none text-white"><i class="bi bi-chat-heart-fill fs-5"></i></a>
                </div>
            </div>
            <div id="stories_list"
                hx-get="{% url 'stories:stories_list' %}"
                hx-trigger="load"
                hx-target="#stories_list"
                hx-swap="innerHTML"
            >
                <div class="text-muted small py-3 text-center">Loading stories...</div>
            </div>
            <div id="feed-container">
                {% include 'posts/includes/posts_list.html' %}
            </div>
        </div>
        <div class="col-lg-4 desktop-only">
            <div class="sticky-top" style="top: 76px; padding-left: 24px;">
                <div class="d-flex align-items-center mb-4">
                    <img src="{{ user.profile.image_or_default }}" class="profile-img me-3" style="width: 56px; height: 56px;" alt="Profile">
                    <div>
                        <a href="{% url 'profiles:profile' user.username %}" class="text-decoration-none fw-bold text-white">{{ user.username }}</a>
                        <p class="text-muted small mb-0">{{ user.full_name }}</p>
                    </div>
                </div>
                <div class="suggestions-title d-flex justify-content-between align-items-center mb-3">
                    <h6 class="text-muted fw-bold">Suggestions For You</h6>
                    <a href="#" class="text-white text-decoration-none fw-bold small">See All</a>
                </div>
                {% for follow in request.user.following.all %}
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <div class="d-flex align-items-center">
                            <img src="{{ follow.user.profile.image_or_default }}" class="suggestion-avatar me-2" alt="User avatar">
                            <div class="d-flex flex-column">
                                <a href="#" class="fw-bold small text-white text-decoration-none">{{ follow.user.username }}</a>
                                <span class="suggestion-detail">Followed by janesmith + 12 more</span>
                            </div>
                        </div>
                        <button class="suggestion-follow btn bg-transparent border-0 fw-bold text-primary cursor-pointer p-0">Follow</button>
                    </div>
                {% endfor %}
                <div class="footer-links">
                    <a href="{% url 'about' %}">About</a>
                    <a href="">Help</a>
                    <a href="">API</a>
                    <a href="">Privacy</a>
                    <a href="">Terms</a>
                </div>
                <div class="copyright">
                    © 2025 Lumen
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'feed/includes/mobile_nav.html' %}
{% endblock content %}