<div class="mobile-bottom-nav">
    <a href="/" class="mobile-nav-item active"><i class="bi bi-house-fill mobile-nav-icon"></i></a>
    <a href="{% url 'discovery:explore' %}" class="mobile-nav-item"><i class="bi bi-compass mobile-nav-icon"></i></a>
    <a
        href=""
        hx-get="{% url 'posts:create_post' %}"
        hx-target="#modal-body"
        hx-swap="innerHTML"
        class="mobile-nav-item"
        data-bs-toggle="modal"
        data-bs-target="#modal"
    >
        <i class="bi bi-plus-square mobile-nav-icon"></i></a>
    <a href="#" class="mobile-nav-item"><i class="bi bi-app-indicator mobile-nav-icon"></i></a>
    <a href="{% url 'chat:inbox' %}" class="mobile-nav-item"><i class="bi bi-chat-heart mobile-nav-icon"></i></a>
    <a href="{% url 'profiles:profile' request.user.username %}" class="mobile-nav-item"><i class="bi bi-person-circle mobile-nav-icon"></i></a>
</div>