<div class="p-2">
    <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center gap-3">
            <form
                hx-post="{% url 'posts:toggle_like' post.pk %}"
                hx-target="#likes{{ post.pk }}"
                hx-swap="innerHTML"
            >
                {% csrf_token %}
                <div id="likes{{ post.pk }}">
                    <button id="like-btn-{{ post.pk }}" type="submit" class="btn text-white cursor-pointer p-0 fs-4 border-0">
                        {% if post.liked %}
                            <i class="bi bi-heart-fill text-danger"></i>
                        {% else %}
                            <i class="bi bi-heart text-white"></i>
                        {% endif %}
                    </button>
                </div>
            </form>
            <a class="btn cursor-pointer p-0 fs-4 border-0"
                hx-get="{% url 'posts:post_preview' post.pk %}"
                hx-target="#modal-body"
                hx-swap="innerHTML"
                data-bs-toggle="modal"
                data-bs-target="#modal"
            ><i class="bi bi-chat"></i></a>
            <a class="btn cursor-pointer p-0 fs-4 border-0"
                hx-get="{% url 'posts:share_post' post.pk %}"
                hx-target="#small-modal-body"
                hx-swap="innerHTML"
                data-bs-toggle="modal"
                data-bs-target="#small_modal"
            ><i class="bi bi-send"></i></a>
        </div>
        <div class="d-flex align-items-center gap-3">
            <form
                hx-post="{% url 'posts:toggle_save' post.pk %}"
                hx-target="#save{{ post.pk }}"
                hx-swap="innerHTML"
            >
                {% csrf_token %}
                <div id="save{{ post.pk }}">
                    <button id="save-btn-{{ post.pk }}" type="submit" class="btn cursor-pointer p-0 fs-4 border-0">
                        {% if post.saved %}
                            <i class="bi bi-bookmark-fill text-white"></i>
                        {% else %}
                            <i class="bi bi-bookmark"></i>
                        {% endif %}
                    </button>
                </div>
            </form>
        </div>
    </div>
    <span id="likes_count_for_{{ post.pk }}" class="fw-bold">{{ post.likes.count }} like{{ post.likes.count|pluralize:'s' }}</span>
</div>